{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/VisionLab/css/style_new.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="navbar">
        <a class="navbar-brand" href="/vision/">CV Lab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">O projekcie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'authors' %}">Autorzy</a>
                </li>
            </ul>

        </div>
    </nav>
</header>

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-3 ">Autorzy</h1>
    </div>
</div>

<div class="container">
    <h2 class="bq-title text-center">Zadania w projekcie</h2><br>
    <table class="table text-center table-striped table-bordered" style="font-size:1.3em;">
        <thead>
        <tr>
            <th scope="col">L.p.</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Zadanie</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Artur</td>
            <td>Zacniewski</td>
            <td>Vision Lab</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Paweł</td>
            <td>Dobrowolski</td>
            <td>Front-end</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Artur</td>
            <td>Dettlaff</td>
            <td>Detekcja twarzy z kamerą</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Przemysław</td>
            <td>Kopiel</td>
            <td>Detekcja twarzy z kamerą</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Rafał</td>
            <td>Zuchora</td>
            <td>Rozpoznanie kolorów</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Maciej</td>
            <td>Bruski</td>
            <td>Rozpoznanie kolorów</td>
        </tr>
        </tbody>
    </table>
</div>

<div style="height: 30px"></div>


<div class="container">
    <div class="row justify-content-center">
        <div>
            <h5 class="card-text text-center">Projekt powstał w ramach Programu Operacyjnego Wiedza Edukacja Rozwój 2014-2020
                „Rozwój kompetencji studentów informatyki, mechatroniki, automatyki i robotyki na Akademii Marynarki Wojennej w Gdyni”
            - <a href="http://power.amw.gdynia.pl/"> Power AMW</a></h5>
        </div>

        <div class="card" style="width: 30rem;margin-top: 30px;">
            <img class="card-img-top" src="{% static 'img/VisionLab/images/ToucanLogo.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Koordynator projektu - firma <a href="https://toucan-systems.pl/">Toucan Systems</a></h5>
            </div>
        </div>

    </div>

</div>

<div style="height: 70px"></div>


<footer class="footer">
    <div class="container">
        <span class="text-muted">© 2017/2018 Copyright: Grupa 145IC AMW </span>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>
</body>
</html>