{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thresholding</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
</head>
<body>
    <div class="text-center">
        <h2>Images after thresholding</h2>
        <h3>Threshold value = {{ thr }}</h3>
        <h4 class="text-center"><a href="{% url 'vision_links' %}">Back to menu</a></h4>

    </div>
    <hr>
    <div class="row">
        <h3 class="text-center">Original image (gray scale):</h3>
        <img src="{% static '/img/cv/th_original.jpg' %}" alt="Original" style="display: block;margin: auto;"/>
    </div>
    <hr>
    <div class="row">
        <h3 class="text-center">Blurred image</h3>
        <img src="{% static '/img/cv/th_blurred.jpg' %}" alt="Blurred" style="display: block;margin: auto;"/>
    </div>
    <hr>
    <div class="row">
        <h3 class="text-center">Global Threshold</h3>
        <img src="{% static '/img/cv/th1.jpg' %}" alt="Th1" style="display: block;margin: auto;"/>
    </div>
    <hr>
    <div class="row">
        <h3 class="text-center">Adaptive Mean Thresholding</h3>
        <img src="{% static '/img/cv/th2.jpg' %}" alt="Th2" style="display: block;margin: auto;"/>
    </div>
    <hr>
    <div class="row">
        <h3 class="text-center">Adaptive Gaussian Thresholding</h3>
        <img src="{% static '/img/cv/th3.jpg' %}" alt="Th3" style="display: block;margin: auto;"/>
    </div>
    <hr>
    <h4 class="text-center"><a href="{% url 'vision_links' %}">Back to menu</a></h4>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

</body>
</html>
